[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/fmt"]
	path = components/fmt
	url = https://github.com/fmtlib/fmt.git
